body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #eee;
}

#content, #formSection, #messageSection{
    margin-left: 30px;
    margin-right: 30px;
}

#content p{
    font-size: 1.2em;
}

span {
    font-weight: normal;
    font-size: 80%;
}

.link {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

#submissionForm div{
    padding: 10px;
}